node_modules
dist
.DS_Store
.vite

# Environment Secrets
.env
.env.local
.env.*.local

# Media & Video files (Large media hosted externally on YouTube)
*.mp4
*.mov
*.webm
*.avi
*.mkv

# Project Documents & Manuscripts (Hosted externally on Drive)
assets/projects/**/*.pdf
